.contencomedit {
  width: 856px;
  height: 650px;
}

.contencomedit h1 {
  color: #104b0b;
}

.foto {
  width: 243px;
  height: 235px;
  border: 2px solid black;
  margin-bottom: 5px;
  margin-top: 60px;
}

.cr {
  margin-left: 30px;
}

.btnedit {
  background-color: #104b0b;
  margin: 20px 0px;
  width: 200px;
  float: right;
  margin-right: 30px;
}

@media only screen and (max-width: 1300px) {
  .contencomedit{
    width: 100%;
    height: 100%;
  }
}
 
@media only screen and (max-width: 991px) {
  .contencomedit{
    width: 100%;
    height: 100%;
    border: 2px solid black;
  }
}