.cont{
    margin: 150px 0;
}

.tainer{
    margin-right: 50px;
}

.imgdetailgd{
    width: 100%;
    height: 50%;
    border: 1px solid #000;
}

.listli, .listli2{
    list-style: none;
    padding-left: 0;
}

.imgdetailsewa{
    width: 100%;
    height: 100%;
    border: 1px solid #000;
}

.favoritsaya{
    color: #104B0B;
}

@media only screen and (max-width: 952px) {
    .text-center{
        float: left;
    }
    .imgdetailgd{
        height: 150px;
        width: 50%;
    }
    .imgdetailsewa{
        height: 150px;
        width: 100%;
    }
    .tainer{
        margin-right: 0px;
    }
}

@media only screen and (max-width: 730px) {
    .imgdetailgd{
        width: 100%;
    }
}

@media only screen and (max-width: 425px) {
    .tainer{
        margin-right: 0px;
    }
}