.fotomit {
  width: 300px;
  height: 300px;
  border: 2px solid black;
  margin-left: 90px;
}

h3 {
  color: #104b0b;
}
.fotodetktp {
  width: 300px;
  height: 200px;
  border: 2px solid black;
  margin-bottom: 36px;
}

.detright {
  width: 830px;
  height: 550px;
  border: 2px solid #fa990e;
  padding: 25px;
  border-radius: 8px;
  margin-bottom: 50px;
}

@media (max-width: 1274px) {
  .fotomit {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin-left: 90px;
  }

  h3 {
    color: #104b0b;
  }
  .fotodetktp {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 36px;
  }

  .detright {
    width: 640px;
    height: auto;
    border: 2px solid #fa990e;
    padding: 25px;
    border-radius: 8px;
    margin-bottom: 50px;
  }
}

@media (max-width: 1042px) {
  .fotomit {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 30px;
  }

  h3 {
    color: #104b0b;
  }
  .fotodetktp {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 36px;
  }

  .detright {
    width: 640px;
    height: auto;
    border: 2px solid #fa990e;
    padding: 25px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 768px) {
  .fotomit {
    width: 250px;
    height: 250px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 30px;
  }

  h3 {
    color: #104b0b;
  }
  .fotodetktp {
    width: 300px;
    height: 200px;
    border: 2px solid black;
    margin-bottom: 36px;
  }

  .detright {
    width: 500px;
    height: auto;
    border: 2px solid #fa990e;
    padding: 25px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 50px;
  }
}

@media (max-width: 514px) {
  .fotomit {
    width: 200px;
    height: 200px;
    border: 2px solid black;
    margin: auto;
    margin-bottom: 30px;
  }

  h3 {
    color: #104b0b;
  }
  .fotodetktp {
    width: 250px;
    height: 170px;
    border: 2px solid black;
    margin-bottom: 36px;
  }

  .detright {
    width: 300px;
    height: auto;
    border: 2px solid #fa990e;
    padding: 25px;
    border-radius: 8px;
    margin: auto;
    margin-bottom: 50px;
  }
}
