html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.yellow-font {
  color: #FA990E;
}

.yellow-background {
  background-color: #FA990E;
}

.green-font {
  color: #104B0B;
}

.yellow-font-hover {
  color: #FA990E;
}

.yellow-font-hover:hover {
  color: #ffbd61;
}

.white-font {
  color: #ffffff;
}

.button-search {
  border: none;
  border-radius: 5px;
}