.conten {
  width: 386px;
  height: 560px;
  border: 2px solid #c0c0c0;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 92px;
  border-radius: 8px;
}

.conten h1 {
  font-size: 24px;
  color: #fa990e;
  font-weight: bold;
  text-align: center;
  margin-top: 82px;
  margin-bottom: 47px;
}

.byloging {
  font-size: 14px;
  margin-bottom: 50px;
}

.buttonlogin {
  color: #fff;
  width: 350px;
  background-color: #104b0b;
  font-size: 18px;
  border: #104b0b solid;
  border-radius: 8px;
  margin: 0px auto;
  float: none;
  display: table;
}

.buttonlogin:hover{
  color: #fff;
  background-color: #fa990e;
  border: #fa990e solid;
}

.plog a {
  text-decoration: none;
  color: #fa990e;
}

@media (max-width: 405px) {
  .conten {
    width: 320px;
    height: 570px;
    border: 2px solid #c0c0c0;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 92px;
    border-radius: 8px;
  }
  .buttonlogin {
    width: 280px;
  }
}
