.favoritsaya {
  margin: auto;
  text-align: center;
  margin-bottom: 40px;
}

.cardfav {
  width: 250px;
  height: auto;
  margin: auto;
  margin-bottom: 50px;
}

.gambarfav {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

p {
  font-weight: 500;
  margin-bottom: 5px;
}

.btnpsn {
  width: 246px;
  background-color: #104b0b;
  color: white;
  margin-bottom: 5px;
}

.btnpsn2 {
  width: 246px;
  background-color: #104b0b;
  color: white;
}

.contenmyfav {
  align-items: center;
  margin: auto;
  margin-bottom: 80px;
}

@media (max-width: 991px) {
  .sdbr {
    margin: 0px auto;
    float: none;
    display: table;
  }
}

@media (max-width: 440px) {
  .sdbr {
    margin: 0px auto;
    float: none;
    display: table;
    width: 100px;
  }
}
