.profcr {
  width: 100%;
  height: auto;
  border: 2px solid #fa990e;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 50px;
  margin-top: 130px;
  margin-right: 100px;
}

.setmar {
  margin-right: 40px;
}

.ptprfl {
  width: 300px;
  height: 300px;
  margin: 0px auto;
  float: none;
  display: table;
}

.dlt {
  width: 120px;
  background-color: #ff0b0b;
  color: white;
  border-radius: 8px;
  border: #ff0b0b;
  float: right;
  margin-right: 35px;
  margin-bottom: 50px;
}

.imglhnn {
  width: 270px;
  height: 270px;
}

.btnfav {
  background-color: #fa990e;
  color: white;
  border: #fa990e;
  border-radius: 8px;
  height: 30px;
}

@media (max-width: 1265px) {
  .profcr {
    width: 100%;
    height: auto;
    border: 2px solid #fa990e;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-top: 130px;
    margin-right: 100px;
  }

  .setmar {
    margin-right: 40px;
    margin-left: 20px;
  }
}

@media (max-width: 991px) {
  .profcr {
    width: 100%;
    height: auto;
    border: 2px solid #fa990e;
    padding: 15px;
    border-radius: 8px;
    margin-bottom: 50px;
    margin-right: 100px;
  }

  .setmar {
    margin-right: 20px;
    margin-left: 20px;
    margin-top: -120px;
  }
}
