.contenreg {
  width: 386px;
  height: 570px;
  border: 2px solid #c0c0c0;
  margin: auto;
  margin-top: 92px;
  margin-bottom: 92px;
  border-radius: 8px;
}

.buttonloginc {
  width: 350px;
  background-color: #104b0b;
  font-size: 18px;
  border: #104b0b solid;
  border-radius: 8px;
  margin: 0px auto;
  float: none;
  display: table;
}

.buttonloginc:hover {
  color: #fff;
  background-color: #fa990e;
  border: #fa990e solid;
}

.contenreg h1 {
  font-size: 24px;
  color: #fa990e;
  font-weight: bold;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 30px;
}

.txtoren {
  color: #fa990e;
  text-decoration: none;
  margin-left: 3px;
}

@media (max-width: 405px) {
  .contenreg {
    width: 320px;
    height: 570px;
    border: 2px solid #c0c0c0;
    margin: auto;
    margin-top: 92px;
    margin-bottom: 92px;
    border-radius: 8px;
  }
  .buttonloginc {
    width: 280px;
  }
}
