.sideb {
  margin: 50px;
}

#side_nav {
  min-width: 330px;
  max-width: 330px;
  background-color: #fff;
  border: 3px solid #104b0b;
  min-height: 75%;
}

.isisidebar {
  margin: auto;
  margin-top: 16px;
}

.sidebar a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 24px;
  font-weight: bold;
  color: #104b0b;
  display: block;
}

.sidebar a:hover {
  color: #fa990e;
}
